<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="hash_console_app.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="hash_console_app.Properties.Settings.ConnectionStr"
            connectionString="Data Source=SQL2012;Initial Catalog=demo;Persist Security Info=True;User ID=sa;Password=P3t3rP1p3r"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <hash_console_app.Properties.Settings>
            <setting name="LogAllActivities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFileDirectory" serializeAs="String">
                <value>TCILogFiles</value>
            </setting>
            <setting name="dataprovider" serializeAs="String">
                <value>System.Data.SqlClient</value>
            </setting>
            <setting name="verbose_error" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="email_to" serializeAs="String">
                <value />
            </setting>
            <setting name="email_cc" serializeAs="String">
                <value />
            </setting>
            <setting name="email_bc" serializeAs="String">
                <value />
            </setting>
            <setting name="email_from" serializeAs="String">
                <value />
            </setting>
            <setting name="email_subject" serializeAs="String">
                <value />
            </setting>
            <setting name="email_body" serializeAs="String">
                <value />
            </setting>
            <setting name="email_attach" serializeAs="String">
                <value />
            </setting>
            <setting name="smtp_server" serializeAs="String">
                <value />
            </setting>
            <setting name="smtp_port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nos_user_id" serializeAs="String">
                <value />
            </setting>
            <setting name="nos_user_pw" serializeAs="String">
                <value />
            </setting>
            <setting name="sql_user" serializeAs="String">
                <value>dbo</value>
            </setting>
            <setting name="db_insert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="email_alert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="temp_dir" serializeAs="String">
                <value>D:\temp</value>
            </setting>
        </hash_console_app.Properties.Settings>
    </userSettings>
</configuration>